<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo2"
        android:label="@string/PetCareApp"
        android:roundIcon="@drawable/logo2"
        android:supportsRtl="true"
        android:theme="@style/Theme.J104867PetCareApp"
        tools:targetApi="31">

        <activity
            android:name=".PaymentSuccessActivity"
            android:exported="true"
            android:parentActivityName=".PaymentActivity"/>
        <activity
            android:name=".AdminManageAppointmentActivity"
            android:exported="true"
            android:parentActivityName=".AdminDashboardActivity"/>
        <activity
            android:name=".PaymentActivity"
            android:exported="true"
            android:parentActivityName=".BookServiceActivity"/>
        <activity
            android:name=".BookServiceActivity"
            android:exported="true"
            android:parentActivityName=".UserDashboardActivity"/>
        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".UserDashboardActivity"
            android:exported="true"
            android:label="USER"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".ViewServicesActivity"
            android:exported="true"
            android:label="ViewServices"
           />
        <activity
            android:name=".AdminDashboardActivity"
            android:exported="true"
            android:label="admin"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>